@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

.icon-section {
	margin: 0 0 3em;
	clear: both;
	overflow: hidden;
}
.icon-container {
	width: 240px;
	padding: .7em 0;
	float: left;
	position: relative;
	text-align: left;
}
.icon-container [class^="ti-"],
.icon-container [class*=" ti-"] {
	color: #000;
	position: absolute;
	margin-top: 3px;
	transition: .3s;
    font-size: 1.2em;
}
.icon-container:hover [class^="ti-"],
.icon-container:hover [class*=" ti-"] {
	font-size: 2.2em;
	margin-top: -5px;
}
.icon-container:hover .icon-name {
	color: #000;
}
.icon-name {
	color: #aaa;
	margin-left: 35px;
	font-size: .8em;
	transition: .3s;
}
.icon-container:hover .icon-name {
	margin-left: 45px;
}

.places-buttons .btn{
    margin-bottom: 30px
}
.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.sidebar .nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}
.navbar .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background: white;
}

.table-upgrade td:nth-child(2),
.table-upgrade td:nth-child(3){
    text-align: center;
}
.navbar-default
{
    position: fixed;
    width: 100%;
    right: 0;
    z-index: 9999;
    /* min-height: 100px; */
    margin-bottom: 10%;
}
.main-panel > .content
{
    margin-top: 6%;
}
.sidebar-wrapper
{
    margin-top: 37%;
}
.numbers p{
    /* text-align: center; */
}
.customgrid

{
    padding-top: 6% !important;
    display: inline-grid !important;
    background: red;

    width: 20% !important;
    padding-bottom: 21% !important;
    margin-left: 1%;
    border-radius: 11px;
    color: white !important;

}
.customgrid .header
{
    padding-top: 8% !important;
    padding-bottom: 8% !important;
}
.customgrid p,.customgrid h4{
    color: white !important;
}
.title,.category{
    text-align: center !important;

}
.card .title{
    margin-top: 10%;
}
ngui-map{
    height:342px;
}
.table {
    width: 83%;
    max-width: 100%;
    margin-left: 38px;
    margin-bottom: 20px;
    margin-right: 10px;
    height: 200px !important;
    overflow: scroll;
    margin-top: 3% !important;
}
.table
th
{
    background: #DEDEDE;
}

.table .success
{
    background: #F1F1F1 !important;
}
.card   .customheader .title{
    margin: 0;
    color: #252422;
    font-weight: 300;
    font-size: 15px;
    margin-top: 8% !important;
}

.customNumber
{
    text-align: center;
    width: 44%;
    margin-left: 27%;
    padding: 1%;
    background: #F1F1F1;
    color: #555555;
    margin-top: 20%;
    border-radius: 12px;
    margin-bottom: 18%;
    padding-bottom: 3% !important;
}
.google-map
{
    border-radius: 13px !important;
}
.dashboard .card .numbers p{
    font-size: 12px;
    float: left !important;
    margin-left: 5% !important;
}
/* .dashboard .content i{
    font-size: 18px;
    float: right;
    margin-right: 7px;
    margin-top: -6px;
} */
.dashboard .content p{
    text-align: center !important;
    float: right;
    font-size: 12px;
}
.dashboard .card .numbers {
    font-size: 2em;
    text-align: left;
    font-weight: 800;
    margin-left: 3%;
}

.dashboard .customNumber {
    text-align: center;
    width: 43%;
    margin-left: 28%;
    padding: 0%;
    background: #F1F1F1;
    color: #2397BB;
    margin-top: 1%;
    border-radius: 10px;
   
    margin-bottom: 15%;
    padding-bottom: 4% !important;
}
.dashboard .customheader h4{
    color: #2397BB !important;
    font-size: 20px !important;
}

.customicons
{
    text-align: right;
    position: absolute !important;
    margin-left: 0 !important;
    right: 1% !important;
    top: 3% !important;
}
.customNumbers
{

    position: absolute !important
    ;
    left: 1% !important;
    top: 5% !important; 
}
.customH1
{
    font-size: 25px !important;
    padding-top: 21% !important;
}
.customcontent
{
    height: 161px !important;
}

.customtable1
{
    height: auto !important;
    text-align: center !important;
    width: 100% !important;
    margin: 0;
    padding: 0;
    margin-top: 2% !important;
}
.customtable1 thead tr > th, .customtable1 thead tr > td, .customtable1 tbody tr > th, .customtable1 tbody tr > td, .customtable1 tfoot tr > th, .customtable1 tfoot tr > td{
    border-top: none !important;
}
.customtable1 .customheaderp{
    color: #FF844D !important; 
    font-size: 26px !important;
    padding-bottom: 0;
    word-break: break-all;
}
.customtable1 .customspan
{
    font-size: 12px !important;
    margin-top: -18% !important;
    color: #555555 !important;
    display: inherit;
}

.customtable1 .linegraph1
{
    width: 100px;
    background-image: linear-gradient(to right , #D398FF, #61BFFF);
    height: 4px !important;
    font-size: 1px;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    color: transparent;
}
.customtable1 .linegraph2
{
    width: 100px;
    background-image: linear-gradient(to right , #DF95FB, #FA8C8D);
    height: 4px !important;
    font-size: 1px;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    color: transparent;
}
.customtable1 .linegraph3
{
    width: 100px;
    background-image: linear-gradient(to right , #A5EEE8, #00CDAC);
    height: 4px !important;
    font-size: 1px;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    color: transparent;
}
.customcctv img
{
    width: 92%;
    height: 110px;;
}
.customcctv
{
    width: 90% !important;
    margin-left: 5% !important;
}
.customcctv td{
    padding:0 !important;
}
.customtable1 .customtd
{
    padding: 0;
    text-align: center;
    width: 43%;
}
.customtable2 .customspan1
{
    color: #2397BB;
    font-size: 24px;
}
.customtable2 .customspan2
{
    font-size: 13px;
}
.parkingtable2 .customspan1
{
    color: #555555;
    font-size: 24px;
}
.parkingtable2 .customspan2
{
    font-size: 11px;
color: grey;
font-weight: 600;
}

.customtable2  p{
    margin-top: 14% !important;
    text-align: center !important;
    float: none !important;
    border-right: 1px solid #d8d8d8;
    font-size: 12px;
    margin-right: -26px;
}
.parkingtable2
{
    margin-top: 0 !important;
}
.parkingtable2 .green
{
    background: #71BB78;
    padding: 1px;
    border-radius: 100px;
    padding-left: 5px;
    padding-right: 4px;
    margin-top: -5% !important;
    width: 17px;
    color: transparent;
    font-size: 5px;
    text-align: center;
}
.largeno
{
    padding: 10%;
    background: #ECECEC;
    font-size: 31px;
    padding-top: 26%;
    padding-bottom: 34%;
    padding-left: 23%;
    padding-right: 17%;
    border-top-left-radius: 12px;
    border-top-right-radius: 13px;
    margin-top: 17%;
}
.smallno
{
    margin-top: 4%;
    background: red;
    padding: 37%;
    padding-top: 5%;
    padding-bottom: 14%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: inline-block;
    background: #71bb78;
    text-transform: capitalize;
    color: white;
    font-size: 20px;
}
.parkingtable2 .orange
{
    background: #F67777;
    padding: 1px;
    border-radius: 100px;
    padding-left: 5px;
    padding-right: 4px;
    margin-top: -5% !important;
    width: 17px;
    color: transparent;

    font-size: 10px;
    text-align: center;
}
.parkingtable2 td{
    width: 20%;
}

.numberheader
{
    background: #f1f1f1;
    height: 67px;
    padding-top: 19px;
    font-size: 21px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.numberfooter
{
    background: #71bb78;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 24px;
    padding-top: 1px;
    color: white;
}
.parkingtable
{
    width: 100% !important;
    margin-top: 3% !important;
   
}
.parkingtable td{
  
    padding: 0 !important;

    width: 25%;
}   
.parkingcard
{
    padding: 8%;
}
.progress-inner
{
    background-image: linear-gradient(to right , #DF95FB, #FA8C8D) !important;
    background-color: rgb(253, 140, 142);
    height: 10px !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 9px !important; 
}
.progress-outer{
    width: 78% !important;
    /* margin: 10px 2%; */
    padding: 0px !important;
    background-color: #f4f4f4;
    border: 1px solid #dcdcdc;
    color: #fff;
    border-radius: 8px !important;
    text-align: center;
    margin-left: 11% !important;
}
.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 21px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    right: 29px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  .card-footer span{
    font-size: 9px;
    color: grey;
    font-weight: 600;
  }
  .extraSpan
  {
    background: #f1f1f1;
    color: #504f4f;
    font-size: 12px;
    padding: 2%;
    margin-top: 7% !important;
    display: inline-block;
    border-radius: 6px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
  .spantable
  {
    width: 100%;
    margin: 0;
    font-size: 10px;
    border-top: 1px solid;
    /* border-bottom: 1px solid; */
    margin: 0 !important;
    height: auto !important;
    box-shadow: none !important;
  }
  .footerP 
  {
      text-align: center !important;
      float: none !important;
      font-size: 10px !important;
      margin-top: 4% !important;
      padding-bottom: 4% !important;
      font-weight: 800 !important;
  }


  .container2 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container2:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container2 input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container2 input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container2 .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }








  .waste .inImage
  {
    margin-right: 30%;
  }


  .floatRight
  {
      text-align: right;
  }
  .floatCenter
  {
    text-align: center;
  }
  .logger
  {
    width: 100% !important;
    max-width: 100% !important;
    margin-left: 0 !important;
    margin-bottom: 0 !important;
    margin-right: 0 !important;
    height: auto !important;
    overflow: scroll !important;
    margin-top: auto !important;
  }
  .logger th{
    font-size: 12px !important;
    text-align: left !important;
  }
  .logger td{
    font-size: 12px !important;
  }
  .logger td span
  {
    background: #FF9160;
    padding: 2%;
    border-radius: 110px;
    font-size: 11px;
    color: white;
    padding-left: 6%;
    padding-right: 6%;
  }
  .table-striped tbody > tr:nth-of-type(2n) {
    background-color: #dedede61;
}


.search
{
    background: white !important;
    border: 1px solid #b3b3b3 !important;
    border-radius: 0 !important;
    margin-top: 9% !important;
}
.searchicon
{
    position: absolute;
    margin-right: 0;
    right: 5%;
    top: 46%;
}

.username
{
    background: #FF9419;
    padding: 10px;
    /* position: absolute; */
    right: 0;
    border-radius: 100px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    display: inline-block;
    margin-top: 2%;
}
.customrow2 .card{
    height: 189px !important;
    padding-top: 6%;
}
.mapcusotm .ngui-map
{
    display: block !important;
    height: 135px !important;
    margin-top: 3% !important;
}
.waterscren td{
    width: 20% !important;
}